/* ============================================================================================== */
/* FOLDER LAYOUT STYLES */
/* ============================================================================================== */
.folder-section-header-row {
  margin-bottom: 12px;
}

.folder-section-header-row h2 {
  font-size: 14px;
  font-weight: 400;
  color: #868686;
  display: inline-block;
}

/* ============================================================================================== */
/* PAGE AND CONTENT HEADER STYLES */
/* ============================================================================================== */

.folder-header-nav {
  font-size: 17px;
  font-weight: 400;
  color: #414141;
}

.collapsed-folder-header-nav-container + .anticon-down {
  display: none !important;
}

.folder-select-button-container {
  display: inline-block;
  padding-right: 8px;
  border-right: 1px solid #e5e5e5;
}

.folder-search.ant-input-group-wrapper {
  width: 50%;
}

/* ============================================================================================== */
/* FOLDER LIST AND FOLDER STYLES */
/* ============================================================================================== */

.folder-list {
  margin-right: -12px;
  margin-bottom: -20px;
}

.folder-container {
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 0 16px;
  border-radius: 0.5em;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* noselect */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.folder-delete-list {
  list-style-type: none;
  padding-inline-start: 0;
  max-height: 50vh;
  overflow: scroll;
}

/* .folder-delete-list-bottom-blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
} */

/* ============================================================================================== */
/* ACTUAL FOLDER STYLES */
/* ============================================================================================== */
.folder-link {
  display: flex;
  align-items: center;
  width: 100%;
}

.folder-normal,
.folder-delete-item {
  color: #474747;
  border: 1px solid #dadce1;
}

.folder-normal:hover {
  background: #f3f3f3;
}

.folder-delete-item {
  cursor: default;
  margin-right: 0;
  margin-bottom: 12px;
}

.folder-label {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-selected {
  background: #e9f6fe;
  border: 1px solid #448ef7;
  color: #448ef7;
  cursor: pointer;
}

.folder-selected:hover {
  -webkit-box-shadow: inset 0px 0px 100px 100px rgba(248, 248, 248, 0.5);
  -moz-box-shadow: inset 0px 0px 100px 100px rgba(248, 248, 248, 0.5);
  box-shadow: inset 0px 0px 100px 100px rgba(248, 248, 248, 0.5);
}

.folder-logo-icon {
  color: #92ceff !important;
  padding-right: 12px;
}

.folder-logo-icon .anticon svg {
  width: 28px !important;
  height: 28px !important;
}

/* ============================================================================================== */
/* SEARCH STYLES */
/* ============================================================================================== */
.search-result-container {
  padding: 24px 0;
  border-bottom: 1px solid #f0f0f0;
}

.search-result-header-row {
  display: flex;
  align-items: center;
}

.search-result-link {
  color: #5ea7f8;
  font-size: 16px;
}

.search-result-link:hover {
  text-decoration: underline;
}

.search-result-content-container {
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 12px 24px;
  border: 1px solid #dadce1;
  border-radius: 8px;
  max-height: 300px;
  width: 50%;
  min-width: 400px;
  overflow: scroll;
}
