/* ============================================================================================== */
/* FOLDER LAYOUT STYLES */
/* ============================================================================================== */
.folder-section-header-row {
  margin-bottom: 12px;
}

.folder-section-header-row h2 {
  font-size: 14px;
  font-weight: 400;
  color: #868686;
  display: inline-block;
}

/* ============================================================================================== */
/* PAGE AND CONTENT HEADER STYLES */
/* ============================================================================================== */

.folder-header-nav {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  color: #414141;
}

.folder-select-button-container {
  display: inline-block;
  padding-right: 8px;
  border-right: 1px solid #e5e5e5;
}

.folder-search.ant-input-group-wrapper {
  width: 50%;
}

/* ============================================================================================== */
/* FOLDER LIST AND FOLDER STYLES */
/* ============================================================================================== */

.folder-list {
  margin-right: -12px;
  margin-bottom: -20px;
}

.folder-container {
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 0 16px;
  border-radius: 0.5em;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* noselect */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================================================== */
/* ACTUAL FOLDER STYLES */
/* ============================================================================================== */
.folder-link {
  display: flex;
  align-items: center;
  width: 100%;
}

.folder-normal {
  color: black;
  border: 1px solid #c4c4c4;
}

.folder-normal:hover {
  background: #f3f3f3;
}

.folder-label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-selected {
  background: #e9f0fd;
  border: 1px solid #3068cb;
  color: #3068cb;
  cursor: pointer;
}

.folder-selected:hover {
  -webkit-box-shadow: inset 0px 0px 100px 100px rgba(248, 248, 248, 0.5);
  -moz-box-shadow: inset 0px 0px 100px 100px rgba(248, 248, 248, 0.5);
  box-shadow: inset 0px 0px 100px 100px rgba(248, 248, 248, 0.5);
}

.folder-logo-icon {
  color: #92ceff !important;
  padding-right: 6px;
}

.folder-logo-icon .anticon svg {
  width: 32px !important;
  height: 32px !important;
}

.folder-normal:hover,
.folder-label:hover {
  color: black !important;
}
