.ann-navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ann-navbar-search{
  position: relative;
}

.ann-navbar-search-icon{
  position: absolute;
  right: 0.5em;
  color: #ddd !important;
}
