.resources-topbar{
  background: #fff;
  padding: 1em;
}

.button-holder > .ant-btn{
  margin-right: 0.5em;
}

.folder-blank > .ant-btn, .folder-blank > .add-blank{
  margin: 1em;
}
.folder-topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-post{
  position: relative;
  overflow-x: scroll;
}

.folder-blank{
  display:flex;
  padding: 5em 0;
  flex-direction: column;
  align-items: center;
}

.post-topbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.folder-holder{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: align-left;
  width: 100%;
}

.post-editbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
/*
.resources-editbar{
  display:none;
  background: #fff;
  position: fixed;
  z-index: 3;
  width: 100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
*/
.move-dialog > .ant-modal-content > .ant-modal-body{
  padding: 0;
}
.move-modal-top>.anticon{
  padding-right: 1em;
}

.navpath-list{
  width: 100%;
  padding: 0.75em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor:pointer;
}

.navpath-list-enabled:hover{
  background: #1890ff;
  font-weight: bold;
  color: white;
}
.navpath-list-disabled{
  background: #eee;
  color: #555;
  cursor: not-allowed;
}
.navpath-list-left{
  display: flex;
  align-items: center;
}
.navpath-list-empty{
  width: 100%;
  text-align: center;
  padding: 2em;
}
.navpath-list-left > .anticon-folder > svg{
  width: 2.5em !important;
  height: 2.5em !important;
  padding-right: 0.75em;
}
.navpath-list-enabled > .navpath-list-left > .anticon-folder > svg{
  color: #92ceff !important;
}
.navpath-list-disabled > .navpath-list-right > .anticon-right > svg{
  display:none;
}
.navpath-list-enabled > .navpath-list-right > .anticon-right > svg{
  color: #fff !important;
}

