/* ============================================================================================== */
/* GENERAL LAYOUT STYLES */
/* ============================================================================================== */

.container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-container,
.padded-content-container {
  height: 100%;
  margin: 0;
  padding: 0;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
}

.padded-content-container {
  padding: 20px 15px;
}

.double-padded-content-container {
  padding: 0 15px;
}

.ant-layout.vertical-fill-layout {
  padding: 0 24px;
  flex: 1;
}

/* ============================================================================================== */
/* ITEM LAYOUT STYLES */
/* ============================================================================================== */
.ant-btn.right-aligned-btn {
  position: absolute;
  right: 0;
}

/* ============================================================================================== */
/* PAGE CONTENT LAYOUTS */
/* ============================================================================================== */

.page-header {
  padding: 44px 30px 12px 30px;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.page-header h1 {
  color: black;
  font-size: 20pt;
  margin-bottom: 0;
}

.page-header p {
  color: #595959;
  font-size: 10pt;
}

.page-header-title {
  display: inline-block;
}
