form{
  background: #d9d9d9;
  border-radius: 0.5em;
  padding: 2em;
  text-align: left;
  width: 30em;
}

.logo-box {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  width: auto;
  height: 100%;
}

.login-title{
  font-size: 1.5em;
  font-weight: bold;
}

.pw-field-wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pw-input{
}

.pw-toggle{
  cursor: pointer;
  right: 0.5em;
}

.pw-errors{
  display: block;
  color: red;
  font-size: 0.75em;
}

input[type=text],input[type=password]{
  padding: 0.25em 2em 0.25em 0.5em !important;
  width: 70%;
}
.button{
  position: relative;
}

.select-user{
  cursor: pointer;
  padding: 0.5em 2em;
  width: 100%;
  text-align: center;
}

