.login-form{
  background: #f3f3f3;
  border-radius: 0.5em;
  padding: 2em 3em;
  text-align: left;
  width: 32em;
}

.logo-box {
  height: 3em;
  margin: 1.5em;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  width: auto;
  height: 100%;
}

.login-title{
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0;
}

.pw-field-wrapper{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pw-toggle{
  cursor: pointer;
  right: 1em;
}
.pw-errors{
  width: 100%;
  text-align: center;
}
input[type=text],input[type=password]{
  /* padding: 0.5em 3em; */
}

.pw-input{
  width: 70%;
}
.login-button{
  margin-top: 2em;
  margin-bottom: 1em;
}

.select-user{
  cursor: pointer;
  padding: 0.5em 2em;
  width: 100%;
  text-align: center;
}

