/* ============================================================================================== */
/* MODAL CONTENT STYLES */
/* ============================================================================================== */
.modal-form
  .ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-left: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.modal-form
  .ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.modal-form.ant-form-vertical .ant-col.ant-form-item-label {
  padding: 0;
  margin-bottom: 2px;
}

.modal-form.ant-form-vertical .ant-row.ant-form-item {
  margin: 16px 0 0 0;
}

/* ============================================================================================== */
/* MODAL FOOTER STYLES */
/* ============================================================================================== */
.ant-modal-footer .left-align {
  position: absolute;
  left: 16px;
}

/* ============================================================================================== */
/* CUSTOM */
/* ============================================================================================== */
.ant-btn-circle.upload-img-circle-btn,
.ant-avatar.ant-avatar-lg {
  width: 209px;
  height: 209px;
}

.ant-avatar.ant-avatar-lg {
  box-shadow: 0 0 8px grey;
}

.ant-btn-circle.upload-img-circle-btn {
  font-size: 12px;
  color: rgba(53, 53, 53, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-anticon svg {
  width: 33px;
  height: 33px;
}

.upload-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
}

.upload-centered .ant-btn {
  margin-top: 10px;
}

.requiredInput > .ant-form-item-control {
  width: 100%;
}

.ant-avatar.blur > img {
}
