html,
body {
  font-family: "Roboto", sans-serif !important;
  background: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.ant-layout .ant-layout-sider {
  min-height: 100vh; /*for IE11*/
}

/* ============================================================================================== */
/* KEEP */
/* ============================================================================================== */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label,
.clickable {
  cursor: pointer;
}

/* ============================================================================================== */
/* REPLACE */
/* ============================================================================================== */
/* Search */
.em4-light {
  font-weight: 400;
  font-size: 1em;
  color: #8c8c8c !important;
}

/* calendar */
.center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
