/* .ann-parent {
  display: block;
  margin-top: 1em;
  border: 2px solid #eee;
  background: #fff;
  border-radius: 0.5em;
}

.ann {
  width: 100%;
  padding: 0;
  position: relative;
}

.ann-old{
  color: #555;
}

.ann-pinned{
  background: #ffe;
}

.ann-head{
}

.ann-head-top{
  padding: 0 1em;
  width: 100%;
  background: #eee;
}

.ann-title{
  padding: 0.25em 1em;
  width: 100%
}

.ann-title, .ann-person, .ann-menu-toggle{
  font-weight: bold;
}

.ann-menu-toggle{
  position: absolute;
  right: 0.5em;
}
.ann-menu-icon{
  height: 1em;
}

.ann-date{
  padding-left: 0.5em;
  color: #555;
}

.ann-text{
  padding: 1em;
  border-top: 2px solid #eee;
}
.delete-confirm{
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.5em 1em;
  background: #fff;
  color: #000;
  border-radius: 0.5em;
  z-index:2
}
.delete-action{
  color: #f00
}
.post-toggle:checked+.ann-body, .delete-confirm-toggle:checked+.delete-confirm{
  display: block;
} */

.ant-list-lg .ant-list-item.announcement-container {
  padding: 18px 16px
}

..announcement-header {
  margin-bottom: 8px;
}

.announcement-header h1,
.announcement-header h3 {
  margin-bottom: 0;
  line-height: 1.1em;
}

.announcement-header h1 {
  font-size: 14px;
  font-weight: 500;
  color: #595959;
}

.announcement-header h3 {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  display: inline-block;
  margin-right: 1em;
}
